<h1><%= @user.name %>'s Profile</h1>

<p><strong>Email:</strong> <%= @user.email %></p>
<p><strong>Joined:</strong> <%= @user.created_at.strftime("%B %d, %Y") %></p>

<h2>Posts by <%= @user.name %>:</h2>
<% @user.posts.each do |post| %>
  <div class="post">
    <h3><%= link_to post.content.truncate(50), post_path(post) %></h3>
    <p><%= post.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
  </div>
<% end %>
